<div class="container">

  <div class="row">
<!-- <button ng-click="genres()"></button> -->

    <div class="large-12 medium-12 small-12 columns">
      <h1 id="anime">{{anime.title}}</h1>
      <div class="large-3 medium-3 small-3 columns borderbar">
        <ul class="showInfoBar">
          <li><img src="{{anime.cover_image}}" alt=""></li>
          <li>Status: {{anime.status}}</li>
          <li>Active: {{anime.started_airing}}--{{anime.finished_airing}}</li>
          <li>#Episodes: {{anime.episode_count}} Episodes</li>
          <li>Episode Length: {{anime.episode_length}} Mins</li>
          <li>Rating: {{anime.age_rating}}</li>
          <li>Genres: <span ng-repeat="genre in anime.genres">{{genre.name}}, </span></li>
          <li ng-if="currentUser">
            <button ng-click="likeAnime(anime)" class="button round tiny success">Like This Anime</button>
            <button ng-click="addToCompleted(anime)" class="button round tiny primary">Have you seen this?</button>
            <button type="button" ng-hide="showRate" ng-model="showRate" ng-click="showRate = true" name="button" class="button round tiny success">Rate Anime</button>
              <form ng-submit="rateAnime(rating)" ng-show="showRate" ng-model="showRate">
                <p> Rate: x/10 </p>
                <input type="number" name="rating" ng-model="rating" class="form-control" min=0 max=10>
                <button type="button" class="button round tiny warning" ng-model="showRate" ng-click="showRate = false">Cancel</button>
                <button type="submit" class="button round tiny primary">Submit</button>
                <hr>
              </form>
            <button ng-click="addToWatching(anime)" class="button round tiny warning"> Currently Watching?</button>
            <button ng-click="addToWillWatch(anime)" class="button round tiny danger">Add to Watch List?</button>
          </li>
        </ul>
      </div>
      <div class="large-9 medium-9 small-9 columns borderbar2">
        <p id="anime">
          <ul class="synopsis">
            <li>Synopsis: </li>
            <li><p>{{anime.synopsis}}</p></li>
          </ul>
        </p>
        <hr>
        <h4><a ng-click="toForum(anime)">"{{anime.title}}": Forum</a></h4>
        <hr>
        <ul class="reviews">
          <h4>Reviews <span class="pointer"><a data-reveal-id="reviewModal" ng-if="currentUser">(Write A Review)</a></span></h4>
          <hr>
          <li ng-repeat="review in reviews">
            <ul>
              <li>Written by <a ng-click="toUser(review)">{{review.user.username}}</a> on {{review.date | date: "MMM d, y"}} <span class="toRight">Rating: {{review.userRating}} / 10</span></li>
              <li class="helpfulCount">xxx people found this review helpful.</li>
              <li><a class="helpfulCount">Other reviews by this user...</a></li>
              <li><hr></li>
              <li>Review Title</li>
              <li ng-hide="showWhole">Body: {{review.subbody}}   <a ng-show="review.subbody.length > 300" ng-click="showWhole = true">(Read More)</a></li>
              <li ng-show="showWhole">Body: {{review.body}}    <a ng-click="showWhole = false">(show less)</a></li>
              <li class="borderbar3"></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="large-3 small-3 medium-3 columns">
      </div>
      <div class="large-6 large-centered small-6 small-centered columns">
        <div style="text-align: center">
        </div>
      </div>
    </div>
  </div>

</div>



<div id="reviewModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Review</h2>
  <p class="lead">Write Your Review Below</p>
  <form ng-submit="writeReview(review)">
    Review Title: <input type="text" name="title" ng-model="review.title" class="form-control">
    Review Body: <textarea name="body" ng-model="review.body" rows="8" cols="40" class="form-control"></textarea>
    Rating: <input type="number" name="userRating" ng-model="review.userRating" class="form-control" min=0 max=10>
    <button type="submit">Submit</button>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
