<div class="container">

  <div class="row">


      <div class="large-12 medium-12 small-12 columns">
        <div class="large-12 medium-12 small-12 columns">
        <h1 id="anime">Anime</h1>
        <p id="anime">
        <ul>
          <li>Title: {{anime.title}}</li>
          <li>Synopsis: {{anime.synopsis}}</li>
          <li>Status: {{anime.status}}</li>
          <li>Active: {{anime.started_airing}}--{{anime.finished_airing}}</li>
          <li>#Episodes: {{anime.episode_count}} Episodes</li>
          <li>Episode Length: {{anime.episode_length}} Mins</li>
          <li><img src="{{anime.cover_image}}" alt=""></li>
          <li>Rating: {{anime.age_rating}}</li>
        </ul>
        </p>
      </div>
      <div class="large-3 small-3 medium-3 columns">
      </div>
      <div class="large-6 large-centered small-6 small-centered columns">
        <div style="text-align: center">
        </div>
      </div>
    </div>
  </div>

</div>
