<div class="container">
  <div class="row">
    <footer>
      <h6>Template by Michael Sankovich:</h6>
      <h6>Github: github.com/mikesankovich</h6>
      <h6>website: michaelsankovich.com</h6>
    </footer>
    <header>
      <button type="button" name="addUsername">Create</button>
      <input type="text" name="username" id="username" placeholder="USERNAME">
      <label for="username">Username:</label>
      <p>Welcome</p>
      <h1>Sockets</h1>
    </header>
    <main>
      <ul id="messages"></ul>
      <form>
        <input id="m" autocomplete="off">
        <button type="submit">Send</button>
      </form>
    </main>
  </div>
</div>
