<div class="container">
  <div class="row">
    <footer>
      <h6>Template by Michael Sankovich:</h6>
      <h6>Github: github.com/mikesankovich</h6>
      <h6>website: michaelsankovich.com</h6>
    </footer>
    <header>
      <p>Welcome</p>
      <h1>Sockets</h1>
    </header>
    <main>
      <ul id="messages"></ul>
      <div>
        <p ng-repeat="message in messages">{{message}}</p>
      </div>
      <form>
        <input id="m" autocomplete="off">
        <button type="submit">Send</button>
      </form>
    </main>
  </div>
</div>
