<div class="container">
  <div class="row">
    <div class="columns small-12">
      <div class="columns small-4 small-offset-4">
        <h1>ChatRoom: Please Keep It Civil</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <div class="columns small-3">
        <ul>
          <li>Users Currently Here: </li>
          <li>
            <div class="reviewScroll">
              <ul>
                <li class="chatUser" ng-repeat="user in currentUserList" ng-click="toUser(user)"><a>{{user.name}}</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="columns small-9">
        <div class="reviewScroll">
          <p ng-repeat="chat in chats"><a ng-click="toUserSaved(chat)">{{chat.userName.toUpperCase()}}</a> : {{chat.message}}</p>
          <p ng-repeat="message in messages"><a ng-click="toUser(user)">{{message.user.toUpperCase()}}</a> : {{message.message}}</p>
        </div>
      </div>
      <div class="columns small-9 small-offset-3">
        <form ng-submit="chatMessage(sent)">
          <div class="columns small-9">
            <input id="m" type="text" autocomplete="off" ng-model="sent">
          </div>
          <div class="columns small-3">
            <button type="submit" class="button small round">Send</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
