<div class="container">
  <div class="row">
    <header>
      <p>Welcome</p>
      <h1>Sockets</h1>
      <p ng-repeat="user in currentUserList">{{user.name}}</p>
    </header>
    <main>
      <ul id="messages"></ul>
      <div>
        <p ng-repeat="message in messages">{{message}}</p>
      </div>
      <form ng-submit="chatMessage(sent)">
        <input id="m" autocomplete="off" ng-model="sent">
        <button type="submit">Send</button>
      </form>
    </main>
  </div>
</div>
