<h1>We need a general forum. Where any questions can be asked</h1>

<div class="container">
  <div class="row">
    <div class="small-12 large-12 medium-12 columns">
      <div class="small-10 small-offset-1 large-8 large-offset-2 medium-8 medium-offset-2 small-centered medium-centered large-centered columns" style="text-align: center">
        <h1>{{forum.title}}: Forums</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 medium-12 columns">
      <div>
        <h4>Admin Posts</h4>
      </div>
      <table class="forumTable">
        <thead>
          <tr>
            <th>Topic</th>
            <th>Author</th>
            <th>Replies</th> <!-- number of replies -->
            <th>Last Reply</th> <!-- last user, date, button to take you there -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a data-reveal-id="rulesModal">Rules: Please Read</a></td>
            <td>Admins</td>
            <td>0</td>
            <td>Rules by Admin</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 medium-12 columns">
      <div>
        <h4>User Posts</h4>
      </div>
      <table class="forumTable">
        <thead>
          <th>Topic</th>
          <th>Author</th>
          <th>Spoilers</th>
          <th>Replies</th> <!-- number of replies -->
          <th>Last Reply</th> <!-- last user, date, button to take you there -->
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="topic in forum.topicsList">
            <td><a ng-click="toTopic(topic)">{{topic.title}}</a></td>
            <td><a ng-click="toUser(topic)">{{topic.user.username}}</a></td>
            <td>{{topic.spoilers}}</td>
            <td>{{topic.responses.length}}</td>
            <td><a ng-click="toRecentUser(topic)">{{topic.mostRecentUser.username}}</a></td>
          </tr>
        </tbody>
      </table>
      <li><a class="button primary" data-reveal-id="topicModal">New Topic</a></li>
    </div>
  </div>
</div>
<div id="topicModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
<h2 id="modalTitle">Search By Genre</h2>
<p class="lead">Choose a Maximum of 4 Genres</p>
<form ng-submit="newTopic(topic)" ng-model="genre">
  <input type="text" placeholder="title" ng-model="topic.title">
  Body
  <textarea ng-model="topic.body"></textarea>
  <input type="radio" ng-model="topic.spoilers" value="true"> spoilers
  <input type="radio" ng-model="topic.spoilers" value="false"> no spoilers
  <input type="submit" value="Submit">
</form>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="rulesModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Rules Of The Forum</h2>
  <ul>
    <li>
      Be Civil
    </li>
    <li>
      No racist, sexist, homophobic, transphobic, etc. remarks. By all means, be controversial, but at least make it in good taste.
    </li>
    <li>
      Do not reveal or seek to reveal the location of any persons or persons through this forum
    </li>
    <li>
      No revealing of another's personal information
    </li>
    <li>
      Have Fun
    </li>
  </ul>


  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
