<div class="container">
  <div class="row">
      <div class="large-12 medium-12 small-12 columns">
      <div class="large-6 large-centered small-6 small-centered columns">
        <div style="text-align: center" class="frontspace">
          <h2>Your Random Anime List</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <div class="large-2 medium-2 small-4 columns" ng-repeat="rand in frontAnime">
        <div>
          <div class="frontBox" ng-click="toShow(show)">
            <img class="frontImage" ng-src="{{rand.cover_image}}" alt="">
            <div class="frontScroll">
              <h6>{{rand.title}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<script>
  $(document).foundation();
</script>
