<div class="container">


  <div class="row">

      <div class="large-12 medium-12 small-12 columns">
        <div class="large-12 medium-12 small-12 columns">
      </div>
      <div class="large-3 small-3 medium-3 columns">
      </div>
      <div class="large-6 large-centered small-6 small-centered columns">
        <div style="text-align: center">
        </div>
      </div>
    </div>
  </div>
  


</div>

<script>
  $(document).foundation();
</script>
