<div class="container">
  <div class="row">
    <div class="small-12 large-12 medium-12 columns">
    <div class="small-6 small-offset-3 large-6 large-offset-3 medium-6 medium-offset-3 columns">

  <p class="lead">Login.</p><br/>
  <form role="form" action="/login" method="post" style="max-width: 300px;">
    <div class="form-group">
      <input type="text" name="username" placeholder="Enter Username" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>&nbsp;
    <a ui-sref="/"><button type="button" class="btn btn-primary">Cancel</button></a>
    </form>
  </div>
  <div><span>Need to sign up? </span><a ui-sref="register">Register</a></div>
</div>
</div>
</div>
