<div class="container">
  <h1 id="anime">Anime I Am Watching</h1>
  <div class="row">
    <div class="small-10 medium-10 large-10 small-offset-1 medium-offset-1 large-offset-1 columns">
      <table>
        <thead>
          <tr>
            <th class="mylist">Anime</th>
            <th class="mylist">Episodes Watched</th>
            <th class="mylist">Episodes</th>
            <th class="mylist">A-N Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="anime in user.mywatchingAnime" ng-cloak>
            <td class="mylist"><a ng-click="showOne(anime)">{{anime.title}}</a></td>
            <td class="mylist"><a ng-click="downOne(anime)"> - </a> {{anime.episodesWatched}} <a ng-click="upOne(anime)"> + </a> </td>
            <td class="mylist">{{anime.episode_count}}</td>
            <td class="mylist">{{anime.avgRating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
