<div class="container">
  <div class="row">
    <div class="small-3 medium-3 large-3 columns borderbar">
      Anime Completed: {{completedLength}} <a ng-click="completedAnime()">(View)</a>
      Anime Watching: {{watchingLength}} <a>(View)</a>
      Anime Favorited: {{favoritedLength}} <a>(View)</a>
      Anime To Watch: {{willWatchLength}} <a ng-click="willWatchAnime()">(View)</a>
    </div>
    <div class="small-9 medium-9 large-9 columns">
      {{user.username}}
    </div>
  </div>

    <div>
      <ul> Pending
        <li ng-repeat="friend in user.friendList" ng-hide="friend.pending">{{friend.username}} <a ng-click="accept(friend)">Accept</a></li>
      </ul>
      <ul> Friends
        <li ng-repeat="friend in user.friendList" ng-show="friend.pending">{{friend.username}}</li>
      </ul>
    </div>
</div>
