<div class='layout'>
  <div class="container">
    <div class="row">
      <div id="originalPost">
        <div class="small-12 columns">
          <div id="topicHeader">
            <div class="small-12 columns headerColor">
              <div class="small-4 columns">
                <div id="author">
                  <p class="headerPad">Author</p>
                </div>
              </div>
              <!-- <div id="author"><p>{{topic.user.username}}</p></div> -->
              <div class="small-8 columns">
                <div id="title"><p class="headerPad">Topic: {{topic.title}} (Read {{topic.viewCount}} Times)</p></div>
              </div>
            </div>
          </div>
          <div id="originalContent">
            <div class="small-12 columns contentColor">
              <div class="small-4 columns">
                <div id="authorInfo">
                  <div id="author">
                    <p>User: {{topic.user.username}}</p>
                    <p>Picture: {{topic.user.profilePic}}</p>
                    <p>Member Since: {{topic.user.createdAt | date: "MMM d, y"}}</p>
                    <p>Message: Email | Message</p>
                    <p>Karma: </p>
                  </div>
                </div>
              </div>
              <div class="small-8 columns">
                <div>
                  <h6>Origin Post | Written by {{topic.user.username}} on {{topic.dateCreated | date: "MMM d, y"}}</h6>
                  <hr>
                  <p>{{topic.body}}</p>
                  <div ng-if="topic.user.signature">
                    <hr>
                    <p>{{topic.user.signature}}</p>
                  </div>
                </div>
                <!-- <div id="title"><p class="headerPad">RE: {{topic.title}}</p></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="responses">
        <div class="small-12 columns"></div>
      </div>
    </div>
  </div>
</div>
