<div class="container">
  <div class="row">
    <div class="small-9 medium-9 large-9 columns">
      {{person.username}}
      <a ng-click="addFriend(person)">Send Friend Request</a>
    </div>
  </div>
</div>
