<!DOCTYPE html>
<html>
<head>
  <title>Anime Network</title>
  <link rel='stylesheet' href='/stylesheets/css/foundation.min.css' />
  <link rel='stylesheet' href='/stylesheets/css/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/sweetalert-master/dist/sweetalert.css' />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  </script>
</head>
<body ng-app="Anime">

  <nav class="top-bar" data-topbar role="navigation" ng-controller="autoCtrl">
    <ul class="title-area">
      <li class="name">
        <h1><a ui-sref="/" class="navbar-brand" href="#">Anime Network</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="nav navbar-nav navbar-right right">
        <li><a class="button primary" data-reveal-id="myModal">Search By Genre</a></li>
        <li class="has-form">
          <form>
            <div class="row collapse">
              <!-- <div class="large-8 small-9 columns">
              <input type="text" ng-model="anime" placeholder="Find Anime">
            </div> -->
            <!-- <form id="form" role="form"> -->
            <div class="form-group move-down large-8 small-9 columns ui-widget">
              <input id="tags" class="autocomplete" ng-model="anime" placeholder="Search Titles">
            </div>
            <!-- <div>result: {{result}}</div> -->
            <!-- </form> -->
            <div class="large-4 small-3 columns">
              <button type="button" class="alert button expand" ng-click="searchAnime(anime)">Search</button>
            </div>
          </div>
        </form>
      </li>
      <% if (user) { %>
        <li><a ui-sref="#">Link 1</a></li>
        <li><a ui-sref="#">Link 2</a></li>
        <li><a ui-sref="home">Home</a></li>
        <% } else { %>
          <% } %>
          <% if (user) { %>
            <li><a ui-sref="profile">{{currentUser.username}}</a></li>
            <li><a href='/logout'>Logout <span class="glyphicon glyphicon-log-in"></span></a></li>
            <% } else { %>
              <li><a ui-sref="login">Login</a></li>
              <li><a ui-sref="register">Register</a></li>
              <% } %>
            </ul>

          </section>
        </nav>
        <div ng-controller="autoCtrl">

        <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Search By Genre</h2>
        <p class="lead">Choose a Maximum of 4 Genres</p>
        <form ng-submit="genres(genre)" ng-model="genre">
          <input type="checkbox" value="Demons" ng-model="genre.Demons">Demon &nbsp; | &nbsp;
          <input type="checkbox" value="Action" ng-model="genre.Action">Action &nbsp; | &nbsp;
          <input type="checkbox" value="Fantasy" ng-model="genre.Fantasy">Fantasy &nbsp; | &nbsp;
          <input type="checkbox" value="Drama" ng-model="genre.Drama">Drama &nbsp; | &nbsp;
          <input type="checkbox" value="Gender Bender" ng-model="genre.GenderBender">Gender Bender &nbsp; | &nbsp;
          <input type="checkbox" value="Historical" ng-model="genre.Historical">Historical &nbsp; |<br>
          <input type="checkbox" value="Kids" ng-model="genre.Kids">Kids &nbsp; | &nbsp;
          <input type="checkbox" value="Mahou Shoujo" ng-model="genre.MahouShoujo">Mahou Shoujo &nbsp; | &nbsp;
          <input type="checkbox" value="Martial Arts" ng-model="genre.MartialArts">Martial Arts &nbsp; | &nbsp;
          <input type="checkbox" value="Military" ng-model="genre.Military">Military &nbsp; | &nbsp;
          <input type="checkbox" value="Mystery" ng-model="genre.Mystery">Mystery &nbsp; | &nbsp;
          <input type="checkbox" value="Police" ng-model="genre.Police">Police &nbsp; | &nbsp;  <br>
          <input type="checkbox" value="Racing" ng-model="genre.Racing">Racing &nbsp; | &nbsp;
          <input type="checkbox" value="Samurai" ng-model="genre.Samurai">Samurai &nbsp; | &nbsp;
          <input type="checkbox" value="SciFi" ng-model="genre.SciFi">Sci-Fi &nbsp; | &nbsp;
          <input type="checkbox" value="Shounen Ai" ng-model="genre.ShounenAi">Shounen Ai &nbsp; | &nbsp;
          <input type="checkbox" value="Space" ng-model="genre.Space">Space &nbsp; | &nbsp;
          <input type="checkbox" value="Supernatural" ng-model="genre.Supernatural">Supernatural &nbsp; | &nbsp;  <br>
          <input type="checkbox" value="Thriller" ng-model="genre.Thriller">Thriller &nbsp; | &nbsp;
          <input type="checkbox" value="Adventure" ng-model="genre.Adventure">Adventure &nbsp; | &nbsp;
          <input type="checkbox" value="Comedy" ng-model="genre.Comedy">Comedy &nbsp; | &nbsp;
          <input type="checkbox" value="Dementia" ng-model="genre.Dementia">Dementia &nbsp; | &nbsp;
          <input type="checkbox" value="Doujinshi" ng-model="genre.Doujinshi">Doujinshi &nbsp; | &nbsp;
          <input type="checkbox" value="Ecchi" ng-model="genre.Ecchi">Ecchi &nbsp; | &nbsp;  <br>
          <input type="checkbox" value="Hentai" ng-model="genre.Hentai">Hentai &nbsp; | &nbsp;
          <input type="checkbox" value="Game" ng-model="genre.Game">Game &nbsp; | &nbsp;
          <input type="checkbox" value="Harem" ng-model="genre.Harem">Harem &nbsp; | &nbsp;
          <input type="checkbox" value="Horror" ng-model="genre.Horror">Horror &nbsp; | &nbsp;
          <input type="checkbox" value="Magic" ng-model="genre.Magic">Magic &nbsp; | &nbsp;
          <input type="checkbox" value="Mahou Shounen" ng-model="genre.MahouShounen">Mahou Shounen &nbsp; | &nbsp;  <br>
          <input type="checkbox" value="Mecha" ng-model="genre.Mecha">Mecha &nbsp; | &nbsp;
          <input type="checkbox" value="Music" ng-model="genre.Music">Music &nbsp; | &nbsp;
          <input type="checkbox" value="Parody" ng-model="genre.Parody">Parody &nbsp; | &nbsp;
          <input type="checkbox" value="Psychological" ng-model="genre.Psychology">Psychological &nbsp; | &nbsp;
          <input type="checkbox" value="Romance" ng-model="genre.Romance">Romance &nbsp; | &nbsp;
          <input type="checkbox" value="School" ng-model="genre.School">School &nbsp; | &nbsp;  <br>
          <input type="checkbox" value="Shoujo Ai" ng-model="genre.ShoujoAi">Shoujo Ai &nbsp; | &nbsp;
          <input type="checkbox" value="Slice of Life" ng-model="genre.SliceofLife">Slice of Life &nbsp; | &nbsp;
          <input type="checkbox" value="Sports" ng-model="genre.Sports">Sports &nbsp; | &nbsp;
          <input type="checkbox" value="Super Power" ng-model="genre.SuperPower">Super Power &nbsp; | &nbsp;
          <input type="checkbox" value="Vampire" ng-model="genre.Vampire">Vampire &nbsp; | &nbsp;  <br>
          <input type="submit" value="Submit">
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
      </div>
        <div ui-view></div>

        <hr>

        <footer>
          <h6>Template by Michael Sankovich:</h6>
          <h6>Github: github.com/mikesankovich</h6>
          <h6>website: michaelsankovich.com</h6>
        </footer>
      </body>
      <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
      <!-- <script src="/javascripts/js/vendor/jquery.js"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="/javascripts/js/vendor/modernizr.js"></script>
      <script src="/javascripts/js/foundation.min.js"></script>
      <script>
        $(document).foundation();
      </script>
      <script src="/stylesheets/sweetalert-master/dist/sweetalert.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/script.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/controllers/animeCtrl.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/controllers/animeListCtrl.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/controllers/autoCtrl.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/controllers/genreCtrl.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/controllers/mainCtrl.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/controllers/profileCtrl.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/controllers/mycompletedCtrl.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/controllers/registerCtrl.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/services/animeService.js"></script>
      <script type="text/javascript" src="/javascripts/jsmain/services/userServices.js"></script>
      <!-- <script src="/dist/bundle.js"></script> -->
      </html>
