#anime {
  text-align: center;
}
ul.synopsis {
  li {
    list-style: none;
  }
}

.genresearch {
  border: 1px black solid;
  border-radius: 500px;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
}

.anime {
  height: 402px;
}

footer {
  margin-left: 2px;
}

.failureLogin {
  color: red;
}
.heightFix {
  height: 15px;
}

#tags {
  margin-right: 60px;
}
.borderbar {
  border-right: black 1px solid;
  .showInfoBar {

    li {
      border-bottom: 1px solid #DCDCDC;
      list-style: none;
    }
  }
}
