#anime {
  text-align: center;
}
ul.synopsis li {
  list-style: none;
}

.anime {
  height: 402px;
}

.space {
  margin-top: 50px;
}
.frontspace {
  margin-top: 40px;
}
.genreImage {
  width: 100%;
}
.frontImage {
  width: 100%;
}

.scroll {
  height:70px;
  overflow:auto;
}
.frontScroll {
  height:40px;
  overflow:auto;
}

.genreBox {
  border: 1px black solid;
  height: 375px;
}
.frontBox {
  border: 1px black solid;
  width: 100%;
}

footer {
  margin-left: 2px;
}

.failureLogin {
  color: red;
}
.heightFix {
  height: 15px;
}

#tags {
  margin-right: 60px;
}
.borderbar {
  border-right: black 1px solid;
}
.borderbar2 {
  border-right: #dddddd 1px solid;
}
.borderbar3 {
  border-bottom: #cccccc 2px solid;
  margin-top: 20px;
}
.showInfoBar li {
  border-bottom: 1px solid #DCDCDC;
  list-style: none;
}

span.pointer {
  color: teal;
}

span.pointer:hover {
  cursor: pointer;
}

.mylist {
  border: black 1px solid;
}

ul.reviews {
  list-style: none;
}
ul.reviews li ul {
  list-style: none;
  margin-top: 20px;
}

.helpfulCount {
  font-size: 12px;
}
.toRight {
  float: right;
}
