#anime {
  text-align: center;
}
.thoseForms {
  height: 385px !important;
}
.stuckBottom {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px 10px 5px 10px;
  background-color: lightgrey;
}
ul.synopsis li {
  list-style: none;
}

.anime {
  height: 402px;
}

.space {
  margin-top: 50px;
}
.frontspace {
  margin-top: 40px;
}
.genreImage {
  width: 100%;
}
.frontImage {
  width: 100%;
}

.scroll {
  height:70px;
  overflow:auto;
}
.frontScroll {
  height:80px;
  overflow:auto;
}

.genreBox {
  border: 1px black solid;
  height: 375px;
}
.frontBox {
  border: 1px black solid;
  width: 100%;
  margin-top: 20px;
}

footer {
  margin-left: 2px;
}

.failureLogin {
  color: red;
}
.heightFix {
  height: 15px;
}

#tags {
  margin-right: 60px;
}
.borderbar {
  border-right: black 1px solid;
}
.borderbar2 {
  border-right: #dddddd 1px solid;
}
.borderbar3 {
  border-bottom: #cccccc 2px solid;
  margin-top: 20px;
}
.showInfoBar li {
  border-bottom: 1px solid #DCDCDC;
  list-style: none;
}

span.pointer {
  color: teal;
}

span.pointer:hover {
  cursor: pointer;
}

.mylist {
  border: black 1px solid;
}

ul.reviews {
  list-style: none;
}
ul.reviews li ul {
  list-style: none;
  margin-top: 20px;
}

.helpfulCount {
  font-size: 12px;
}
.toRight {
  float: right;
}

.forumTable {
  width: 100%;
}

/*====================================
=================TOPIC CSS===================
====================================
====================================*/
#topicHeader {
  margin-top: 10%;
}
.headerColor {
  background-color: #89CBEF;
  border: 2px solid #89CBEF;
  border-radius: 10px;
  padding-top: 10px;
  height: 50px;
}
.contentColor {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 1%;
  position: relative;
}
.replyDiv {
  margin-top: 5%;
  margin-bottom: 1%;
  right: 0;
  background-color: #89CBEF;
}
.replyButton {
  font-size: 12px;
  background-color: #89CDEF;
  padding: 4px 8px 3px 8px;
  position: absolute;
  border-radius: 10px;
  color: black;
  bottom: 0;
  right: 0;
}
.replyButton:hover {
  color: red;
}

.message-mine {
  border: 1px black solid;
  border-radius: 10px;
  width: 51%;
  float: right;
}
.message-theirs {
  border: 1px black solid;
  border-radius: 10px;
  width: 51%;
  float: left;
}
.circleOnline {
  height: 10px;
  width: 10px;
  border: 1px solid;
  border-radius: 999px;
  background-color: lightgreen;
}

/*====================================
=================Chatroom CSS===================
====================================
====================================*/

.chatUser:hover {
  background-color: lightgrey;
}
.chatUser {
  padding: 2px 2px 2px 15px;
  list-style: none;
  style: inline-block;
}
