h1 {
  color: green;
  h2 {
    color: red;
  }
  li {
    color: black;
  }
}
#anime {
  text-align: center;
}

.anime {
  height: 402px;
}

p {
  text-align: center;
}

footer {
  margin-left: 2px;
}

.failureLogin {
  color: red;
}
